<?xml version='1.0'?>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:epub='http://www.idpf.org/2007/ops' xml:lang='zh' lang='zh'>
	<head>
		<meta charset='utf-8' />
		<title><%= meta.title %></title>
		<link href='../css/main.css' rel='stylesheet'/>
	</head>
	<body>

		<nav epub:type='toc'>
			<h1>Table of Contents</h1>

            <%- toc %>

        </nav>

	</body>
</html>
